.greetingForm {
}

.inputAndButtonContainer {
}

.error {
}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
}

.input:focus {
}

.errorInput {
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5)
}

.greeting {
}
